UnitTests/bin/Debug/$RANDOM_SEED$
UnitTests/bin/Debug/$RANDOM_SEED$
PasswordGenerator/bin/Debug/$RANDOM_SEED$
*.suo
PasswordGenerator/bin/Debug/$RANDOM_SEED$
*.suo
/.vs
/PasswordGenerator/obj
/PasswordGenerator/bin/Debug
/UnitTests/obj
/UnitTests/bin/Debug
/packages
/PasswordGenerator.Tests/bin
/PasswordGenerator.Tests/obj
/.idea
/PasswordGenerator.2.0.0.nupkg
*.nupkg
