<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="DefaultPasswordLength" value="16" />
    <add key="MinPasswordLength" value="8" />
    <add key="MaxPasswordLength" value="128" />
    <add key="InvalidPasswordLengthMessage" value="Password length invalid. Must be between {0} and {1} characters long" />
  </appSettings>
</configuration>